header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: auto; /*Width*/
    height: 400px;
}

.navCont {
    /*border: 6px solid rgb(128, 0, 94);*/
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    max-width: 2000px;
    padding: 0 20px;
 }

.logoCont {
    padding: 10px;
    width: auto;
    margin-left: 20px;
    display:flex;
    align-items: center;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    
}

 .navLinkCont {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
 }

 .navLink {
    font-size: 18px;
    color: #E5E7EB;
 }

/*TO-DO*/
main {
    
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: 'roboto', sans-serif;
}

.imgRowCont {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 25px 20%;
}

.img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 125px;
}

/*GOOD*/

footer {
    border: 2px solid #1F2937;
    background-color:#1F2937;
    color:#F9FAF8;
    font-family: 'Roboto', 'Sans-serif';
    text-align: center;
    width: auto;
    /*margin: 15px, 0; /* risk responsive sizing issues*/
}

