body {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1642px;
    height: 465px;
}

.navCont {
    border: 6px solid rgb(128, 0, 94);
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    padding: 0 20px;
}

.logoCont {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.navLinkCont {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.navLink {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    border: 3px solid green;
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
}

.heroText {
    border: 2px solid purple;
    padding-bottom: 10px;
    margin-left: 175px;
    width: 500px;
    height: 70%;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
    width: 140px;
    margin-top: 1px;
}

.heroText h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    max-width: 400px;
    margin-bottom: 10px;
}

.heroTextText {
    width: 450px;
}

.heroText p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    margin-top: 0;
}

.heroImg {
    border: 2px solid red;
    margin-left: 40px;
    width: 300px;
    height: 240px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.imgRowCont {
    display: flex;
    justify-content: space-between;
    margin: 35px 20%;
    margin-bottom: 125px;
}

.imageContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 120px;
    text-align: center;
    border: 2px solid pink;
}

.img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 125px;
}

.quoteArea {
    background-color: #E5E7EB;
    border: 2px solid red;
    max-width: 1642px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.quote {
    color: #1F2937;
    font-style: light, italic;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    text-align: left;
}

.quoteAuthor {
    color: #1F2937;
    font-size: 18px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    text-align: right;
}

footer {
    border: 2px solid #1F2937;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
}